body {
	margin: 0px;
	font-family: Calibri;
	background-color: #F1F4FFFF;
}

nav {}

nav > ul {
	width: 95%;
	text-align: center;
}

nav > ul > li {
	display: inline-block;
	*display: inline;
	margin-left: 10px;
}

nav > ul > li > a, 
.right > a {
	text-decoration: none;
	transition: 0.3s;
	opacity: 1;
	color: #00203FFF;
	font-size: 15px;
	cursor: pointer;
}

nav > ul > li > a:hover {
	opacity: 0.5;
}

nav > ul > li > h1 {
	margin-right: 10px;
	margin-left: 10px;
	color: #00203FFF;
	text-shadow: 2px 2px 5px #A2A2A1FF;
}

.content {
	width: 70%;
	height: 90%;
	margin: auto;
	border: 0.5px solid;
	border-color: gray;
	background-color: white;
}

.row {
	padding:30px 30px 30px 30px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.row > #leftH1 {
	font-size: 20px;;
	margin: 20px;
	color: #659DBD;
}

.row > #rightH1 {
	float: right;
	font-size: 20px;
	margin: 20px;
	
}
.left {
	float: left;
	width: 56%;
}

.left > button {
	width: 90%;
	height: 50px;
	border: solid 0.1px;
	color: white;
	background-color: #659DBD;
	border-radius: 5px;
	margin-bottom: 10px;
}

.left > button:hover {
	background-color: lightblue;
	transition: 0.1s;

}
.left > button > .p1 {
	font-size: 12px;
	float: left;
	padding-left: 10px;
}

.left > button > .p2 {
	font-size: 12px;
	float: right;
	padding-right: 10px;
}

.right {
	float: right;
	width: 43%;
}

.right > div {
	margin-bottom: 5px;
}

.right > .cart {
	padding-bottom: 10px;
	border: solid 0.1px;
	border-color: #659DBD;
	background-color: white;
}

.cart > .head {
	width: 100%;
	height: 20px;
	font-size: 12px;
	background-color: #659DBD;
}

.cart > li {
	color: black;
	padding: 0px 5px 5px 5px;
	font-size: 14px;
	list-style-type: none;
	margin-bottom: -5px;
}	

.head > li {
	padding-left: 2px;
	list-style-type: none;
	display: inline-block;
} 

#rst {
	float: right;
}
.voucher_div {
	width:100%;
}
.voucher_div > li{
	list-style-type: none;
}

.voucher_div > li > input {
	height:15px;
	width: 76%;
	float: left;
	border:solid 0.1px;
	border-color: #659DBD;
	background-color: white;
}

#proceed {
	width: 100%;
	height: 30px;
	margin-top:5px;
	background-color: #659DBD;
	border-color: #659DBD;
	border-style: none;
	box-shadow: none;
	border-radius: 10px;
}

#proceed:hover {
	background-color: lightblue;
	transition: 0.1s;
}

#apply_voucher{
	width: 20%;
	float: right;
}

.appbtn {
	margin-top: -2px;
	height: 19px;
	font-size: 12px;
	width:100%;
	margin:	auto;
	background-color: white;
	border-style: none;
	border-color: #659DBD;
	border-width: 1px;
	border-style: solid;
}

.appbtn:hover, .appbtn2:hover {
	background-color: lightblue;
	transition: 0.1s;
}

.appbtn2 {
	margin-top: 20px;
	height: 19px;
	font-size: 12px;
	width:40px%;
	margin:	auto;
	background-color: white;
	border-style: none;
	border-color: #659DBD;
	border-width: 1px;
	border-style: solid;
}

.proceed {
	margin-top: 20px;
	width: 100%;
}

.proceed > li {
	list-style-type:none;
}

.proceed > li > p1 {
	font-size: 12px;
	cursor: pointer;
}

.proceed > li > p1:hover {
	color: lightblue;
}

.voucher_list {
	width: 100%;
	border: solid 0.1px;
	border-radius: 10px;
	border-color: #659DBD;
	padding-bottom: 10px;
}
.voucher_list > p1 {
	margin-top: 5px;
	font-size: 12px;
	width: 100%;
	margin-left: 32%;

}

.voucher_list > table {
	width: 96%;
	border:solid 0.1px;
	border-color: #659DBD;
	border-radius: 4px;
	margin-top: 10px;
	margin-left: 6px;
	margin-right: 5px;
}

.voucher_list > table > tbody > tr > td {
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	font-size: 14px;
}

#tableAdmin {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 12px;
  margin-bottom: 30px;
  margin-top: 0px;
  border:solid 0.1px;

}

#tableAdmin td, #tableAdmin th {
  border: 1px solid #ddd;
  padding: 2px;
  font-size: 12px;
}

#tableAdmin tr:nth-child(even){background-color: #f2f2f2;}

#tableAdmin tr:hover {background-color: lightblue;}

#tableAdmin th {
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  background-color: #659DBD;
  color: white;
}

.title { 
	width: 100%;
	margin-top: 20px;
	margin-left: 40%;
}

.title > p1 {
	font-size: 12px;
}

.title > button {
	font-size: 12px;	
}
#voucher_form,#product_form > input {
	width: 80%;
	margin-bottom: 10px;
}


.modal {
	display: none;
	position: fixed;
	z-index :1;
	left:0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}
.modal-content {
	background-color: #fefefe;
	margin: 5% auto;
	font-size: 12px;
	padding: 5px 5px 5px 5px;
	padding-left: 20px;
	padding-top: 10px;
	border:1px solid #888;
	border-radius: 10px;
	width: 20%;
}

.modal-content > form > li {
	list-style-type: none;
}